		* {			
			box-sizing: border-box;
			list-style: none;
			font-family: 'Open Sans', sans-serif;
		}

		body {
			background: black;
		}
		
		#container {
			width: 1920px;
			height: 1080px;
			position: relative;
		    overflow: hidden;
		}

		.previous-background {
			position: absolute;
			top:0;
			left: 0;
			width:100%;
			height: 100%;
			transform: scale(1);
		}

		.background {
			position: absolute;
			top:0;
			left: 0;
			width:100%;
			height: 100%;
			transform: scale(1);
/* 			transition: background-image 250ms ease-in-out;
 */		}

		.background.idle {
		  -moz-transform: scale(1.03);
		  -webkit-transform: scale(1.03);
		  transform: scale(1.03);
		  transition: transform 10s;
		}
	
		.background-overlay {
			position: absolute;
			top:0;
			left: 0;
			width:100%;
			height: 100%;
			background: rgba(0,0,0,0.3);
		}

		.menu-container-container {
			position: absolute;
			top:75%;
			left:100px;
			overflow: hidden;
			height:140px;
		}
		.menu-container {
			margin:0;
			padding:0;
		}

		.menu-container li {
			color:#fff;
			margin-bottom:10px;
			font-size: 18px;
		    font-weight: 100;
			opacity: 0.1;
			transition: all 400ms;
			height:20px;
		}

		.menu-container li.selected {
			opacity: 1;
		}

		.menu-container li.prev,
		.menu-container li.next {
			opacity: 0.3;
		}

		.item-container-left,
		.item-container-right {
			position: absolute;
			top:50%;
			transform: translateY(-50%);
		    width: auto;
		    padding:0;
		    margin:0;
	        left: -610px;
		}
		.item-container-right {
    		right: -410px;
    		left: initial;
    	} 

    	.item-hidden-left,
		.item {
			float:left;
			width: 180px;
			height:264px;
			margin:0 10px;
		}

		.active {
			width:800px;
			height: 400px;
			position: absolute;
			top:50%;
			left:50%;
    		transform: translate(-50%, -50%);

		}

		.active .logo{
			margin: 0 auto;
			width: 600px;
			height: 400px;
			background-repeat: no-repeat;
		    background-size: contain;
	        background-position: center;
		}

		.item-hidden-left,
		.item-container-right .item:first-child{
			opacity:0;
		}